[SERVER]
localhost

[DOWNLOAD]
train2017.zip http://images.cocodataset.org/zips/train2017.zip
val2017.zip http://images.cocodataset.org/zips/val2017.zip
annotations_trainval2017.zip http://images.cocodataset.org/annotations/annotations_trainval2017.zip
maskrcnn.sif https://afdata.sjtu.edu.cn/files/maskrcnn_latest.sif

[DEPENDENCY]
mkdir -p ./benchmark/AI/maskrcnn/data

cp -rfv ./downloads/train2017.zip ./benchmark/AI/maskrcnn/data
cp -rfv ./downloads/val2017.zip ./benchmark/AI/maskrcnn/data/
cp -rfv ./downloads/annotations_trainval2017.zip ./benchmark/AI/maskrcnn/data/
cd ./benchmark/AI/maskrcnn/data
unzip train2017.zip
unzip val2017.zip
unzip annotations_trainval2017.zip
cd ..

[ENV]

[APP]
app_name = maskrcnn
build_dir = ${HPCbench_ROOT}/benchmark/AI/maskrcnn
binary_dir = ${HPCbench_ROOT}/benchmark/AI/maskrcnn
case_dir = ${HPCbench_ROOT}/benchmark/AI/maskrcnn

[BUILD]
# MaskRCNN for Ascend

## environment 
### miniconda-aarch64
### conda environment
conda create -n maskrcnn-torch1.11 python=3.7
conda activate maskrcnn-torch1.11

### dependency
pip3 install attrs numpy decorator sympy cffi pyyaml pathlib2 psutil protobuf scipy requests absl-py tqdm pyyaml wheel typing_extensions

### maskrcnn src
cd ${HPCbench_ROOT}/benchmark/AI/maskrcnn
git clone https://gitee.com/ascend/ModelZoo-PyTorch.git
cd ModelZoo-PyTorch/PyTorch/built-in/cv/detection/MaskRCNN_for_Pytorch/

### torch-1.11 
wget https://repo.huaweicloud.com/kunpeng/archive/Ascend/PyTorch/torch-1.11.0-cp37-cp37m-linux_aarch64.whl
pip3 install torch-1.11.0-cp37-cp37m-linux_aarch64.whl

### extra requirements
pip install -r requirements.txt

### cocoapi installation
git clone https://github.com/cocodataset/cocoapi.git
cd cocoapi/PythonAPI

python setup.py build_ext install
cd ../..

### torch-npu torchvision apex installation
wget https://gitee.com/ascend/pytorch/releases/download/v5.0.rc1-pytorch1.11.0/torch_npu-1.11.0-cp37-cp37m-linux_aarch64.whl
pip3 install torch_npu-1.11.0-cp37-cp37m-linux_aarch64.whl

git clone https://github.com/pytorch/vision.git
cd vision
git checkout v0.12.0
python setup.py bdist_wheel
cd dist
pip3 install torchvision-0.12.*.whl
cd ../..

git clone -b v0.12.0 https://gitee.com/ascend/vision.git vision_npu
cd vision_npu
source /opt/Ascend/ascend-toolkit/set_env.sh
python setup.py bdist_wheel
cd dist
pip install torchvision_npu-0.12.*.whl
cd ../..

pip3 install apex --no-index --find-links https://ascend-repo.obs.cn-east-2.myhuaweicloud.com/MindX/OpenSource/pytorch1_11_0/index.html --trusted-host ascend-repo.obs.cn-east-2.myhuaweicloud.com

###  maskrcnn
python setup.py build develop

[RUN]
binary = maskrcnn

[BATCH]
## training
bash test/train_full_8p.sh --data_path=${HPCbench_ROOT}/benchmark/AI/maskrcnn/data

