[SERVER]
localhost

[DOWNLOAD]
train2017.zip http://images.cocodataset.org/zips/train2017.zip
val2017.zip http://images.cocodataset.org/zips/val2017.zip
annotations_trainval2017.zip http://images.cocodataset.org/annotations/annotations_trainval2017.zip
maskrcnn.sif https://afdata.sjtu.edu.cn/files/maskrcnn_latest.sif

[DEPENDENCY]
mkdir -p ./benchmark/AI/maskrcnn/data

cp -rfv ./downloads/train2017.zip ./benchmark/AI/maskrcnn/data
cp -rfv ./downloads/val2017.zip ./benchmark/AI/maskrcnn/data/
cp -rfv ./downloads/annotations_trainval2017.zip ./benchmark/AI/maskrcnn/data/
cd ./benchmark/AI/maskrcnn/data
unzip train2017.zip
unzip val2017.zip
unzip annotations_trainval2017.zip
cd ..
git clone https://github.com/NVIDIA/DeepLearningExamples.git

[ENV]

[APP]
app_name = maskrcnn
build_dir = ${HPCbench_ROOT}/benchmark/AI/maskrcnn
binary_dir = ${HPCbench_ROOT}/benchmark/AI/maskrcnn
case_dir = ${HPCbench_ROOT}/benchmark/AI/maskrcnn

[BUILD]

[RUN]
binary = maskrcnn

[JOB1]
#!/bin/bash
#SBATCH -J maskrcnn
#SBATCH -p {{ GPU_PARTITION }}       #GPU partition
#SBATCH -N 1
#SBATCH -n 64
#SBATCH --gres=gpu:4
#SBATCH --exclusive
#SBATCH -o result/AI/maskrcnn.txt

image=${HPCbench_ROOT}/downloads/maskrcnn_latest.sif
cd ${HPCbench_ROOT}/benchmark/AI/maskrcnn/DeepLearningExamples/PyTorch/Segmentation/MaskRCNN/pytorch
ln -s ${HPCbench_ROOT}/benchmark/AI/maskrcnn/data data
mkdir results
singularity exec --nv --bind `pwd`:/datasets,`pwd`/results:/results ${image} bash -c "./scripts/train.sh"

