[SERVER]
localhost

[DOWNLOAD]
ILSVRC2012_img_val https://image-net.org/data/ILSVRC/2012/ILSVRC2012_img_val.tar
resnet50_v1.pb https://zenodo.org/record/2535873/files/resnet50_v1.pb
val_map.txt https://github.com/microsoft/Swin-Transformer/files/8529898/val_map.txt

[DEPENDENCY]
mkdir -p ./benchmark/AI/resnet/data/val
tar -xvf ./downloads/ILSVRC2012_img_val.tar -C ./benchmark/AI/resnet/data/val/
cp -rfv ./downloads/resnet50_v1.pb ./benchmark/AI/resnet/data/
cp -rfv ./downloads/val_map.txt ./benchmark/AI/resnet/data/
cd ./benchmark/AI/resnet/
git clone https://gitee.com/ascend/ModelZoo-PyTorch.git

[ENV]

[APP]
app_name = resnet
build_dir = ${HPCbench_ROOT}/benchmark/AI/resnet
binary_dir = ${HPCbench_ROOT}/benchmark/AI/resnet
case_dir = ${HPCbench_ROOT}/benchmark/AI/resnet

[BUILD]
# ResNet50 MLperf for Ascend
## environment 
### miniconda-aarch64
wget https://mirrors.tuna.tsinghua.edu.cn/anaconda/miniconda/Miniconda3-py39_4.9.2-Linux-aarch64.sh
sh Miniconda3-py39_4.9.2-Linux-aarch64.sh
source activate
### conda environment
conda create -n resnet50-torch1.11 python=3.7
conda activate resnet50-torch1.11
### dependency
pip3 install attrs numpy decorator sympy cffi pyyaml pathlib2 psutil protobuf scipy requests absl-py tqdm pyyaml wheel typing_extensions cloudpickle tornado synr==0.5.0
cd ${HPCbench_ROOT}/benchmark/AI/resnet/ModelZoo-PyTorch/ACL_PyTorch/built-in/cv/Resnet50_Pytorch_Infer
pip3 install -r requirements.txt
python3 imagenet_torch_preprocess.py resnet ${HPCbench_ROOT}/benchmark/AI/resnet/data/val/ ./prep_dataset
wget https://download.pytorch.org/models/resnet50-0676ba61.pth
source /opt/Ascend/ascend-toolkit/set_env.sh
atc --model=resnet50_official.onnx --framework=5 --output=resnet50_bs64 --input_format=NCHW --input_shape="actual_input_1:64,3,224,224" --enable_small_channel=1 --log=error --soc_version=Ascend910B --insert_op_conf=aipp_resnet50.aippconfig
wget https://aisbench.obs.myhuaweicloud.com/packet/ais_bench_infer/0.0.2/aclruntime-0.0.2-cp37-cp37m-linux_aarch64.whl
wget https://aisbench.obs.myhuaweicloud.com/packet/ais_bench_infer/0.0.2/ais_bench-0.0.2-py3-none-any.whl
pip3 install aclruntime-0.0.2-cp37-cp37m-linux_aarch64.whl
pip3 install ais_bench-0.0.2-py3-none-any.whl


[RUN]
binary = resnet


[BATCH]
python3 -m ais_bench --model ./resnet50_bs64.om --input ./prep_dataset/ --output ./ --output_dirname result --outfmt TXT | tee ${RESULT_DIR}/inference.log 
python3 vision_metric_ImageNet.py ./result ./ImageNet/val_label.txt ./ result.json
