[SERVER]
localhost

[DOWNLOAD]
ILSVRC2012_img_val https://image-net.org/data/ILSVRC/2012/ILSVRC2012_img_val.tar
resnet50_v1.pb https://zenodo.org/record/2535873/files/resnet50_v1.pb
val_map.txt https://github.com/microsoft/Swin-Transformer/files/8529898/val_map.txt
resnet50.sif https://afdata.sjtu.edu.cn/files/resnet_latest.sif

[DEPENDENCY]
mkdir -p ./benchmark/AI/resnet/data/val
tar -xvf ./downloads/ILSVRC2012_img_val.tar -C ./benchmark/AI/resnet/data/val/
cp -rfv ./downloads/resnet50_v1.pb ./benchmark/AI/resnet/data/
cp -rfv ./downloads/val_map.txt ./benchmark/AI/resnet/data/
cd ./benchmark/AI/resnet/
git clone https://github.com/mlcommons/inference.git

[ENV]

[APP]
app_name = resnet
build_dir = ${HPCbench_ROOT}/benchmark/AI/resnet
binary_dir = ${HPCbench_ROOT}/benchmark/AI/resnet
case_dir = ${HPCbench_ROOT}/benchmark/AI/resnet

[BUILD]

[RUN]
binary = resnet


[JOB1]
#!/bin/bash
#SBATCH -J inference
#SBATCH -p {{ GPU_PARTITION }}
#SBATCH -n 16
#SBATCH --gres=gpu:1
#SBATCH -o result/AI/inference.txt

source init.sh
module load cuda/11.8.0 cudnn
export MODEL_DIR=${HPCbench_ROOT}/benchmark/AI/resnet/data/
export DATA_DIR=${HPCbench_ROOT}/benchmark/AI/resnet/data/
export IMAGE=${HPCbench_ROOT}/downloads/resnet_latest.sif
cd ./benchmark/AI/resnet/inference/vision/classification_and_detection

singularity exec --nv $IMAGE bash -c "./run_local.sh tf resnet50 gpu --count 50000 --time 1200 --scenario Offline --qps 200 --max-latency 0.1"
singularity exec --nv $IMAGE bash -c "./run_local.sh tf resnet50 gpu --accuracy --time 60 --scenario Offline --qps 200 --max-latency 0.2"
