[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]
set -e
set -x
export CC=`which gcc`
export CXX=`which g++`
export FC=`which fortran`
./hpcbench -install osu/7.0.1 gcc
mkdir -p $HPCbench_ROOT/benchmark/network
mkdir -p $HPCbench_ROOT/result/network

[ENV]

[APP]
app_name = osu
build_dir = $HPCbench_ROOT/software/libs/gcc${gcc_version_number}/osu/7.0.1/
binary_dir = $HPCbench_ROOT/software/libs/gcc${gcc_version_number}/osu/7.0.1/libexec/osu-micro-benchmarks/mpi/pt2pt/
case_dir = $HPCbench_ROOT/benchmark/network

[BUILD]

[CLEAN]

[RUN]
run = mpirun -np 2
binary = osu_bibw
nodes = 1

[BATCH]



[JOB1]
#!/bin/bash
#SBATCH --job-name=osu_bibw
#SBATCH --partition={{ CPU_PARTITION }}
#SBATCH -n 2
#SBATCH --ntasks-per-node=1
#SBATCH --exclusive
#SBATCH --output=osu_bibw.out
#SBATCH --error=osu_bibw.err

export UCX_NET_DEVICES=mlx5_0:1
mpirun -np 2 $HPCbench_ROOT/software/libs/gcc${gcc_version_number}/osu/7.0.1/libexec/osu-micro-benchmarks/mpi/pt2pt/osu_bibw |tee $HPCbench_ROOT/result/network/osu_bibw.log

[JOB2]
#!/bin/bash
#SBATCH --job-name=osu_latency
#SBATCH --partition={{ CPU_PARTITION }}
#SBATCH -n 2
#SBATCH --ntasks-per-node=1
#SBATCH --exclusive
#SBATCH --output=osu_latency.out
#SBATCH --error=osu_latency.err

export UCX_NET_DEVICES=mlx5_0:1
mpirun -np 2 $HPCbench_ROOT/software/libs/gcc${gcc_version_number}/osu/7.0.1/libexec/osu-micro-benchmarks/mpi/pt2pt/osu_latency|tee $HPCbench_ROOT/result/network/osu_latency.log

