# Compiled source #
###################
*.a
*.com
*.class
*.dll
*.exe
*.o
*.o.d
*.py[ocd]
*.so

# Packages #
############
# it's better to unpack these files and commit the raw source
# git has its own built in compression methods
*.7z
*.bz2
*.bzip2
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.tbz2
*.tgz
*.zip

# Python files #
################
# setup.py working directory
build
# sphinx build directory
_build
# setup.py dist directory
dist
doc/build
doc/cdoc/build
# Egg metadata
*.egg-info
# The shelf plugin uses this dir
./.shelf
MANIFEST
.cache
pip-wheel-metadata
.python-version

# Logs and databases #
######################
*.log
*.sql
*.sqlite
# Things specific to this project #
######################
env.sh
build.sh
test.py
hostfile
.vscode
tmp
downloads/*
depend_install.sh
build.sh
.meta
software/*
test.sh
*.swp
