[SERVER]
11.11.11.11

[DOWNLOAD]
stream_mpi.c/2014.10.21 https://www.cs.virginia.edu/stream/FTP/Code/Versions/stream_mpi.c
stream_mpi.f/2014.2.14 https://www.cs.virginia.edu/stream/FTP/Code/Versions/stream_mpi.f
mysecond.c/2009.2.19 https://www.cs.virginia.edu/stream/FTP/Code/mysecond.c

[DEPENDENCY]
set -x
set -e

export CC=`which gcc`
export CXX=`which g++`
export FC=`which gfortran`

mkdir -p ${HPCbench_TMP}/stream-1.8
cd ${HPCbench_TMP}
mv ${HPCbench_DOWNLOAD}/stream_mpi.c ${HPCbench_TMP}/stream-1.8
mv ${HPCbench_DOWNLOAD}/stream_mpi.f ${HPCbench_TMP}/stream-1.8
mv ${HPCbench_DOWNLOAD}/mysecond.c ${HPCbench_TMP}/stream-1.8

[ENV]
module purge
module load intel-oneapi-compilers/2021.4.0
module load intel-oneapi-mpi/2021.4.0
export CC=mpiicc FC=mpiifort F77=mpiifort

[APP]
app_name = stream
build_dir = ${HPCbench_TMP}/stream-1.8
binary_dir = ${HPCbench_LIBS}/stream-1.8
case_dir = 

[BUILD]
mpiicc -O3 -ffreestanding -qopenmp -qopt-streaming-stores=always          \
-DSTREAM_ARRAY_SIZE=8650752 -DNTIMES=20 -DVERBOSE                         \
stream_mpi.c -o stream_mpi_c      
icc -c mysecond.c
mpiifort -c stream_mpi.f
mpiifort -O3 -qopenmp -qopt-streaming-stores=always stream_mpi.o mysecond.o -o stream_mpi_f   
mkdir -p ${HPCbench_LIBS}/stream-1.8
cp -r stream_mpi_* ${HPCbench_LIBS}/stream-1.8

[RUN]
run = ${HPCbench_LIBS}/stream-1.8/stream_mpi_f
binary = 
nodes = 1
