[SERVER]
11.11.11.11

[DOWNLOAD]

[DEPENDENCY]

[ENV]
export RESULT_DIR=$HPCbench_ROOT/result/balance
mkdir -p $RESULT_DIR

[APP]
app_name = balance
build_dir = $HPCbench_ROOT
binary_dir = $HPCbench_ROOT
case_dir = $HPCbench_ROOT

[BUILD]

[CLEAN]

[RUN]
binary = balance
run = echo
nodes = 1

[BATCH]
cd $RESULT_DIR
exec 1>$RESULT_DIR/balance.log 2>/dev/null
# 内存容量与核心数比
echo "内存容量与核心数比"
TotalMemPerNode=`grep MemTotal /proc/meminfo|awk -F " " '{print $2}'`
let TotalMemPerNode=$TotalMemPerNode/1024/1024
echo TotalMemPerNode : $TotalMemPerNode GB
TotalCorePerNode=`cat /proc/cpuinfo | grep "processor" | wc -l`
echo TotalCorePerNode : $TotalCorePerNode
mem2cpu=$(echo "scale=2; $TotalMemPerNode/$TotalCorePerNode" | bc)
echo mem2cpu=$mem2cpu
echo " "

# BurstBuffer 与内存的容量比
echo "BurstBuffer 与内存的容量比"
BurstBuffer={{ CLUSTER_BURSTBUFFER }}
TotalNodeNum={{ TOTAL_NODES }}
BurstBuffer=111616
TotalNodeNum=900
let TotalMemAllNode=$TotalMemPerNode*$TotalNodeNum
buffer2mem=$(echo "scale=2; $BurstBuffer/$TotalMemAllNode"|bc)
echo BurstBuffer : $BurstBuffer GB
echo TotalNodeNum : $TotalNodeNum
echo TotalMemPerNode : $TotalMemPerNode GB
echo buffer2mem=$buffer2mem
echo " "

# 并行文件系统与BurstBuffer的容量比
echo "并行文件系统与BurstBuffer的容量比"

ParaName={{ PARA_STORAGE_PATH }}
ParaName=/dssg
ParaSize=`df -a |grep $ParaName|awk '{print $2}'`
let ParaSize=$ParaSize/1024/1024
echo ParaSize : $ParaSize GB
echo BurstBuffer : $BurstBuffer GB
file2buffer=$(echo "scale=2; $ParaSize/$BurstBuffer"|bc)
echo file2buffer=$file2buffer
echo " "

# 内存与BurstBuffer的带宽比
echo "内存与BurstBuffer的带宽比"
rm stream.c stream.log
wget https://raw.githubusercontent.com/jeffhammond/STREAM/master/stream.c > /dev/null  2>&1 &
wait
gcc -mtune=native -march=native -O3 -mcmodel=medium -fopenmp \
-DSTREAM_ARRAY_SIZE=200000000 -DNTIMES=30 -DOFFSET=4096 stream.c \
-o stream.o  > /dev/null  2>&1 &
wait
./stream.o > stream.log 2>&1 &
wait
RateOfMem=`cat stream.log |grep Triad|awk '{print $2}'`
echo RateOfMem:${RateOfMem}

#BurstBuffer 带宽测试 需要在有闪存节点上进行测试
#bash scrath-ior.sh
BW_BURSTBUFFER={{ BW_BURSTBUFFER }}
BW_BURSTBUFFER=12100.38
mem2buffer=$(echo "scale=2; $RateOfMem*$TotalNodeNum/$BW_BURSTBUFFER"|bc)
echo mem2buffer=$mem2buffer
echo " "

echo "BurstBuffer与并行文件系统的带宽比"
echo "running bandwidth test of ParaFileSystem"
BW_ParaFile=`cat $HPCbench_ROOT/result/storage/ior/aggregation_bandwidth.txt |grep Write|awk 'NR==1 {print $3}'`
echo BW_ParaFile : $BW_ParaFile
buffer2file=$(echo "scale=2; $BW_BURSTBUFFER/$BW_ParaFile"|bc)
echo buffer2file=$buffer2file

