[SERVER]
localhost

[DOWNLOAD]

[DEPENDENCY]
export CC=`which gcc`
export CXX=`which g++`
export FC=`which fortran`
mkdir -p $HPCbench_ROOT/benchmark/compute
cd $HPCbench_ROOT/benchmark/compute
git config --global http.sslVerify false
git clone --depth=1 https://github.com/hpcg-benchmark/hpcg.git

[ENV]
export CC=mpicc CXX=mpic++ FC=mpifort
export HPCG_HOME=$HPCbench_ROOT/benchmark/compute/hpcg

[APP]
app_name = hpcg
build_dir = $HPCG_HOME
binary_dir = $HPCG_HOME/bin/
case_dir = $HPCG_HOME/bin/

[BUILD]
cat << \EOF > setup/Make.MPI_GCC_OMP
SHELL        = /bin/sh
CD           = cd
CP           = cp
LN_S         = ln -s -f
MKDIR        = mkdir -p
RM           = /bin/rm -f
TOUCH        = touch
TOPdir       = .
SRCdir       = $(TOPdir)/src
INCdir       = $(TOPdir)/src
BINdir       = $(TOPdir)/bin
HPCG_INCLUDES = -I$(INCdir) -I$(INCdir)/$(arch) $(MPinc)
HPCG_LIBS     =
HPCG_OPTS     =
HPCG_DEFS     = $(HPCG_OPTS) $(HPCG_INCLUDES)
CXX          = mpicxx
CXXFLAGS     = $(HPCG_DEFS) -O3 -ffast-math -ftree-vectorize -fopenmp
LINKER       = $(CXX)
LINKFLAGS    = $(CXXFLAGS)
ARCHIVER     = ar
ARFLAGS      = r
RANLIB       = echo
EOF
./configure MPI_GCC_OMP
make -j

[CLEAN]
make clean

[RUN]
run = mpirun -np 64
binary = xhpcg
nodes = 1 

[BATCH]

[JOB1]
#!/bin/bash
#SBATCH -J hpcg
#SBATCH -N 2
#SBATCH --ntasks-per-node {{ CPU_MAX_CORES }}
#SBATCH -p {{ CPU_PARTITION }}
#SBATCH --exclusive
#SBATCH -o logs/hpcg.out
#SBATCH -e logs/hpcg.out

cd $HPCG_HOME/bin/
export UCX_NET_DEVICES=mlx5_0:1
mpirun ./xhpcg --nx=104 --rt=60 
cp $HPCbench_ROOT/benchmark/compute/hpcg/bin/HPCG-Benchmark* $HPCbench_ROOT/result/compute/hpcg.txt 
