[SERVER]
11.11.11.11

[DOWNLOAD]
minio/latest https://dl.min.io/server/minio/release/linux-arm64/minio
warp/v0.6.7 https://github.com/minio/warp/releases/download/v0.6.7/warp_Linux_arm64.tar.gz

[DEPENDENCY]
chmod +x $HPCbench_DOWNLOAD/minio
mkdir -p $HPCbench_ROOT/benchmark/storage/protocol/mino_data
mkdir -p $HPCbench_ROOT/benchmark/storage/protocol/mino
mkdir -p $HPCbench_ROOT/result/storage/protocol/mino
cp $HPCbench_DOWNLOAD/minio $HPCbench_ROOT/benchmark/storage/protocol/mino/

nohup $HPCbench_ROOT/benchmark/storage/protocol/mino/minio server $HPCbench_ROOT/benchmark/storage/protocol/mino_data/minio_data/ &
tar -xzf $HPCbench_DOWNLOAD/warp_Linux_arm64.tar.gz -C $HPCbench_ROOT/benchmark/storage/protocol/mino/

[ENV]
export WARP_HOME=$HPCbench_ROOT/benchmark/storage/protocol/mino
export PATH=:$PATH:$WARP_HOME
export RESULT_DIR=$HPCbench_ROOT/result/storage/protocol/mino

[APP]
app_name = warp
build_dir = $WARP_HOME
binary_dir = $WARP_HOME
case_dir = $WARP_HOME

[BUILD]

[CLEAN]

[RUN]
binary = warp
run = echo
nodes = 1

[BATCH]
for i in 16 32 64 128 256; do
  warp get --host=localhost:9000 --access-key=minioadmin --secret-key=minioadmin --autoterm --concurrent $i | tee $RESULT_DIR/warp.txt
done
